$sizes: 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 40;
$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$font-weights: Thin 100, UltraLight 200, Light 300, Regular 400, Medium 500,
  Semibold 600, Bold 700, Black 800, Heavy 900;

@each $font-weight in $font-weights {
  $key: nth($font-weight, 1);
  $value: nth($font-weight, 2);

  @font-face {
    font-family: 'SF-Pro-Rounded' + '-' + $value;
    src: url('fonts/SF-Pro-Rounded/SF-Pro-Rounded-' + $key + '.otf')
      format('opentype');
  }
}

@each $weight in $weights {
  .weight-#{$weight} {
    font-family: 'SF-Pro-Rounded' + '-' + $weight;
  }
}

@each $size in $sizes {
  .font-#{$size} {
    font-size: #{$size}px;
  }
}
